<a href="https://colab.research.google.com/github/non733641-gif/ict_assignment/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
p1= int(input("Item1 price: "))
q1= int(input("Item1 quantity: "))
p2 = int(input("Item2 price: "))
q2= int(input("Item2 quantity: "))
cost1= p1*q1
cost2 = p2*q2
total= cost1 + cost2
print("Total Bill: ",total)

Item1 price: 45
Item1 quantity: 34
Item2 price: 56
Item2 quantity: 34
Total Bill:  3434

In [3]:
celsius=float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit: ",fahrenheit)

Enter temperature in Celsius: 113
Temperature in Fahrenheit:  235.4

In [4]:
basic_salary = float(input("Enter basic salary: "))

hra = basic_salary * 0.20
da = basic_salary * 0.10
total_salary = basic_salary + hra + da
print("Net Salary: ",total_salary)

Enter basic salary: 34999
Net Salary:  45498.700000000004

In [5]:
principal = float(input("Principal: "))
ROI = float(input("Rate of Interest: "))
Time= float(input("Time (in years): "))
simple_interest = (principal * ROI * Time) / 100
print("Simple Interest = ",simple_interest)

Principal: 34500
Rate of Interest: 15
Time (in years): 8
Simple Interest =  41400.0

In [7]:

a=int(input("enter total min:"))
min=a%60
hrs=a//60
print(hrs,"hours and",min,"minutes")

enter total min:130
2 hours and 10 minutes

In [8]:
a=int(input("enter weight(in kg):"))
b=float(input("enter height(in m):"))
bmi=a/b**2
print("bmi is",bmi)

enter weight(in kg):69
enter height(in m):1.76
bmi is 22.275309917355372

In [10]:
a=int(input("enter original price:"))
discount=a*0.10
price=a-discount
print("discounted price is",price)

enter original price:650000
discounted price is 585000.0

In [11]:
import math
a=int(input("enter side a:"))
b=int(input("enter side b:"))
c=int(input("enter side c:"))
s=(a+b+c)/2
area=math.sqrt(s*(s-a)*(s-b)*(s-c))
print("area is",area)

enter side a:8
enter side b:10
enter side c:14
area is 39.191835884530846

In [12]:
a=int(input("enter wall lenght(in m):"))
b=int(input("enter wall height(in m):"))
window_area=1.5*1.2
wall_area=a*b
paint_area=wall_area-window_area
cost = paint_area*25
print("Total area to be painted:",paint_area)
print("total cost",cost)

enter wall lenght(in m):12
enter wall height(in m):16
Total area to be painted: 190.2
total cost 4755.0

In [13]:
a=float(input("enter no of unit consumed:"))
f=100
rate=a*5.2
total_bill=rate+100
print("electricity bill:",total_bill)

enter no of unit consumed:230
electricity bill: 1296.0