<a href="https://colab.research.google.com/github/non733641-gif/ict_assignment/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def maximum(x,y,z):
    if(x>y):
        if(x>z):
            return x
        else:
            return z
    else:
        if(y>z):
            return y
        else:
            return z
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input('enter the third number'))
maximum(a,b,c)

enter the first number54
enter the second number56
enter the third number76

76

In [ ]:
l=[18, 12, 30,10, 7]

sum(l)

77

In [5]:

l=[10,20,30,40]
n=int(input("enter no to be inserted:"))
m=int(input("emter possiton to be inserted(index)"))
if 0<=m<=len(l):

  l.insert(m,n)
  print(l)
else:
  print("invalid index")

enter no to be inserted:45
emter possiton to be inserted(index)3
[10, 20, 30, 45, 40]

In [10]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [13]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [15]:
tuple1 = (11, 22, 33, 44, 55, 66)
a=tuple1[3:5]
print(a)

(44, 55)

In [19]:
 tuple1 = (50, 10,60, 70, 50,83,567,50,81)
 a=tuple1.count(50)
 print(a)

3